process.shell = ['/bin/bash']

profiles {

    // TODO: add conda

    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        fixOwnership           = true
        runOptions             = "-u \$(id -u):\$(id -g)"
        singularity.enabled    = false
        shifter.enabled        = false
        registry               = "snads"
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        shifter.enabled        = false
        conda.enabled          = false
        params.enable_conda    = false
    }

}

def trace_timestamp = new java.util.Date().format('yyyy-MM-dd HH:mm:ss')

// Default parameters (can be overwritten by command line inputs)
params.inpath = new File("${launchDir}").getCanonicalPath()
params.outpath = new File("${launchDir}").getCanonicalPath()
params.logpath = new File("${params.outpath}/.log").getCanonicalPath()
params.downsample = false
params.help = false
params.version = false

timeline {
    enabled = true
    file    = "${params.outpath}/timeline.${trace_timestamp}.html"
}

report {
    enabled = true
    file    = "${params.outpath}/report.${trace_timestamp}.html"
}

trace {
    enabled = true
    fields  = 'task_id,name,status,exit,realtime,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar'
    file    = "${params.outpath}/trace.${trace_timestamp}.txt"
}

dag {
    enabled = true
    file    = "${params.outpath}/pipeline_dag.${trace_timestamp}.svg"
}

manifest {
    author = 'Sarah Nadeau'
    description = 'Generate candidate primer set for selective whole-genome amplification'
    mainScript = 'main.nf'
    nextflowVersion = '>=20.01.0'
    version = '1.0.0'
}
